.track {
  position:relative;
  background-color:grey;
  width: 100%;
  height: 100px;
}

.soundClip {
  height: 100%;
  position:absolute;
  background-color: yellow;
}

.scrubber {
  opacity:.4;
  position:absolute;
  background-color:red;
  height:100%;
  width:5px;
  z-index:1;
}

.clip{
  z-index:0;
}
